<app-page-card title="Valiutų kursai" *ngIf="currencyExchange">
  <section class="form">
    <div class="currency-card py-9" *ngIf="isLoading">
      <svg
        class="animate-spin h-5 w-5 mr-3 bg-sky-800"
        viewBox="0 0 24 24"
      ></svg>
      <span class="w-full text-sky-800 font-semibold text-center"
        >Kraunama...</span
      >
    </div>
    <div class="currency-card py-9" *ngIf="isError">
      <svg class="h-5 w-5 mr-3 bg-red-600" viewBox="0 0 24 24"></svg>
      <span class="w-full text-red-600 font-semibold text-center">Klaida!</span>
    </div>
    <div class="currency-card" *ngIf="!isLoading && !isError">
      <header class="currency-card__header">
        <span class="text-5xl">{{ currencyExchange.base }}</span>
        <i class="fa fa-arrow-right"></i>
        <span class="text-5xl">{{ currencyExchange.rates?.currencyCode }}</span>
      </header>
      <div class="currency-card__body">
        {{ currencyExchange.rates?.currencyRate }}
        {{ getCurrTitle(currencyExchange.rates?.currencyCode) }}
      </div>
    </div>
    <form [formGroup]="form">
      <div class="form__group">
        <div class="form__control-group-wrapper">
          <div class="form__control-group">
            <select
              class="select-control"
              id="task-type"
              formControlName="fromCurrency"
              (change)="exchange()"
            >
              <option [ngValue]="null" disabled>Choose your profile</option>
              <option *ngFor="let row of currencies" [value]="row.currencyCode">
                {{ row.currencyCode }} - {{ row.currencyTitle }}
              </option>
            </select>
          </div>
          <div class="form__control-group">
            <select
              class="select-control"
              id="task-type"
              formControlName="toCurrency"
              (change)="exchange()"
            >
              <option [ngValue]="null" disabled>Choose your profile</option>
              <option *ngFor="let row of currencies" [value]="row.currencyCode">
                {{ row.currencyCode }} - {{ row.currencyTitle }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </section>
</app-page-card>
