<app-page-card title="Nauja užduotis">
  <section class="form">
    <form [formGroup]="form" (submit)="createTask()">
      <div class="form__group">
        <div class="form__control-group">
          <label for="task-title">Užduoties pavadinimas</label>
          <input
            required="required"
            type="text"
            class="text-control"
            id="task-title"
            placeholder="Įveskite pavadinimą"
            formControlName="taskTitle"
          />
        </div>
        <div class="form__control-group">
          <label for="task-type">Užduoties tipas</label>
          <select
            required="required"
            class="select-control"
            id="task-type"
            formControlName="taskType"
          >
            <option *ngFor="let row of taskTypesList" [value]="row.value">
              {{ row.label }}
            </option>
          </select>
        </div>
        <span class="form__form-action">
          <button class="submit-button" type="submit">Pridėti užduotį</button>
        </span>
      </div>
    </form>
  </section>
</app-page-card>
