<app-page-card title="Užduočių sąrašas">
  <section class="task">
    <app-status-cards [data]="taskList"></app-status-cards>

    <table class="task__table">
      <thead class="task__table-thead">
        <tr>
          <th>Užduoties pavadinimas</th>
          <th>Užduoties tipas</th>
          <th>Veiksmai</th>
        </tr>
      </thead>
      <tbody class="task__table-tbody">
        <tr *ngFor="let row of taskList; index as i">
          <td>{{ row.taskTitle }}</td>
          <td>{{ row.taskType }}</td>
          <td class="fit-col">
            <div class="action-wrapper">
              <button class="task-update-button" (click)="updateTask(i)">
                Redaguoti
              </button>
              <button class="task-delete-button" (click)="deleteTask(i)">
                Trinti
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</app-page-card>
